@{
    ViewData["Title"] = "About";
}
<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
<h1 class="bd-title" id="content">About</h1>
<p class="bd-lead">This site works with official Microsoft Azure Cloud IP ranges. You can easily filter by <a target="_blank" href="https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview">Service Tags</a></p>

<h2 id="datasource">Datasource</h2>
 <table class="table table-striped">
    <thead>
      <tr>
        <th>Cloud</th>
        <th>DownloadUrl</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Public</td>
        <td><a target="_blank" href="https://www.microsoft.com/download/details.aspx?id=56519">https://www.microsoft.com/download/details.aspx?id=56519</a></td>
      </tr>
      <tr>
        <td>AzureGovernment</td>
        <td><a target="_blank" href="https://www.microsoft.com/download/details.aspx?id=57063">https://www.microsoft.com/download/details.aspx?id=57063</a></td>
      </tr>
      <tr>
        <td>China</td>
        <td><a target="_blank" href="https://www.microsoft.com/download/details.aspx?id=57062">https://www.microsoft.com/download/details.aspx?id=57062</a></td>
      </tr>
      <tr>
        <td>AzureGermany</td>
        <td><a target="_blank" href="https://www.microsoft.com/download/details.aspx?id=57064">https://www.microsoft.com/download/details.aspx?id=57064</a></td>
      </tr>
    </tbody>
  </table>